@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(239, 167, 35, 0.874);
}

.main-header {
  background-color: white;
  margin: 30px auto;
  max-width: 800px;
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  /* position: sticky;
  top: 30px;
  border: 1px solid gray; */
}



.main-header .logo {
  font-size: 20px;
  letter-spacing: 0.1rem;
  font-family: 'Tilt Prism', cursive;
}


.main-header ul {
  display: flex;
  gap: 50px;
  list-style: none;
  cursor: pointer;
}


.section-container{
  max-width: 800px;
  background-color: white;
  min-height: 400px;
  border-radius: 10px;
  margin: auto;
  padding: 20px 50px;
}


.books-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-top: 40px;
  gap: 20px;
}

.books-container ul li {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.books-container ul li div {
  background-color: rgba(239, 167, 35, 0.874);
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}

.books-container ul li button {
  padding-inline: 40px;
  border: none;
  background-color: rgba(239, 167, 35, 0.874);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: white;
}

.books-container ul li button:active {
  background-color: rgba(198, 142, 39, 0.874);
}

.books-container ul li button i {
  font-size: 20px;
}



/* .logo {
  font-family: 'Quicksand', sans-serif;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listOfBooks {
  width: 22rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding-left: 2px;
  padding-right: 10px;
}

li {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 5px 3px 5px 3px;
  display: flex;
  justify-content: space-between;
}

li:nth-child(even) {
  background-color: rgb(216, 216, 216);
}

#removeButton {
  padding: 5px 10px;
}

#formSection {
  margin-top: 5rem;
}

form {
  width: 22rem;
}

input {
  height: 2rem;
  width: 100%;
  border: 1px solid black;
  margin-top: 5px;
}

form button {
  float: right;
  margin-top: 5px;
  padding: 5px 10px;
} */